<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{titulo}}</h1>
    <hr>

    {% include 'core/nav.html' %}

    <div id="descipcion">
        <p>{{mensaje}}</p> <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea est velit tempore blanditiis nostrum atque ipsum. Culpa repellat pariatur, accusantium sunt, quidem numquam ad reiciendis earum incidunt ipsam ipsa qui?</p>
    </div>
</body>
</html>